{% extends 'base.html' %}

{% block css %}{% endblock %}
{% block body %}
<div class="container">
    <div class="row my-5">
        <div class="col-md-10">
                <h1>Employees Performance Prediction</h1>
            <h1>Form</h1>
            <form method="post">
                <div class="mb-3">
                    <label for="team" class="form-label">Team</label>
                    <select class="form-select form-select-lg" name="team" id="team">
                        <option selected>Select one</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div><br>
                <div class="form-floating mb-3">
                  <input
                    type="number"
                    class="form-control" name="targeted_productivity" id="targeted_productivity" placeholder="enter value" step=".01">
                  <label for="targeted_productivity">targeted productivity</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="number"
                    class="form-control" name="smv" id="smv" placeholder="smv" step=".01">
                  <label for="smv">smv</label>
                  <div class="form-floating mb-3">
                    <input
                      type="number"
                      class="form-control" name="wip" id="wip" placeholder="wip">
                    <label for="wip">wip</label>
                    <div class="form-floating mb-3">
                      <input
                        type="number"
                        class="form-control" name="over_time" id="over_time" placeholder="over_time">
                      <label for="over_time">over_time</label>
                      <div class="form-floating mb-3">
                        <input
                          type="number"
                          class="form-control" name="incentive" id="incentive" placeholder="incentive">
                        <label for="incentive">Incentive</label>
                        <div class="form-floating mb-3">
                          <input
                            type="number"
                            class="form-control" name="idle_time" id="idle_time" placeholder="idle_time">
                          <label for="idle_time">idle_time</label>
                          <div class="form-floating mb-3">
                            <input
                              type="number"
                              class="form-control" name="idle_men" id="idle_men" placeholder="idle_men">
                            <label for="idle_men">idle_men</label>
                          </div>
                          <div class="form-floating mb-3">
                            <input
                              type="number"
                              class="form-control" name="no_of_style_change" id="no_of_style_change" placeholder="no_of_style_change">
                            <label for="no_of_style_change">no_of_style_change</label>
                          </div>
                          <div class="form-floating mb-3">
                            <input
                              type="number"
                              class="form-control" name="no_of_workers" id="no_of_workers" placeholder="no_of_workers">
                            <label for="no_of_workers">no_of_workers</label>
                          </div>
                           <div class="form-floating mb-3">
                             <input
                               type="number"
                               class="form-control" name="month" id="month" placeholder="month">
                             <label for="month">month</label>
                           </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            
            </form> 
        </div>
    </div>
</div>  


{% endblock %}
{% block js %}{% endblock %}